#au_top {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../images/about_us/people.jpg");
    position: relative;
}
#au_top img {
    height: 100%;
    width: 100%;
}
#au_top button {
    position:absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#au_top button:hover {
    cursor: pointer;

}
.photo_teacher {

}
#au_much_more {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10px;
    border: 2px solid gainsboro;
    overflow: hidden;
}
#au_much_more b {
    font-size: 20px;
}

#au_maininfo {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 70px;
    padding-right: 70px;
}
#au_maininfo_text {
    width: 60%;
    float: left;
    border-right: 2px solid gainsboro;
    padding: 5px;
    text-indent: 30px;
}
.active {
    text-decoration: underline;

}

#au_mainmenu_content {
    margin: 20px;
}
#au_mainmenu_content * {
    padding: 2px;
}
#au_maininfo_menu span {
    cursor: pointer;
}
/*.hide_div {
    display: none;
}*/

#au_advertisment {
    float: left;
    padding-left: 10px;
}
#au_feedbacks{
    display: none;
    padding-left: 10px;
    float: left;
}

