.buttons input, .changePass input[type="submit"]{
    background: dodgerblue;
    color: #fff;
    padding: 5px;
    text-align: center;
    width: auto;
    cursor: pointer;
    border: 1px solid gray;
    outline: none;
    width: 100px;
}

.buttons input:hover, .changePass input[type="submit"]:hover{
    background: #1e90dd;
    text-align: center;
    width: auto;
    cursor: pointer;
    border: 1px solid gray;
    width: 100px;
}
.buttons input:active, .changePass input[type="submit"]:active{
    background: linear-gradient(to top, royalblue, #5d88f4);
    width: 100px;
}

.align-settings{
    text-align: left;
    margin-left: 35%;
}

.smallcaps{
    font-variant: titling-caps ;
    text-align: center;
}
.search-button{
    color: dodgerblue;
    font-size: 20px;
    font:bold;
    margin-left: 20px;
    text-decoration: none;
    font-variant: small-caps ;

}
.search-button:hover {
    color:deepskyblue;
    text-decoration: underline;
}
.search-form, #user-form{
    border-radius: 5px;
    border: 1px solid gainsboro;
    margin: 15px;
    padding: 10px;
}
.manageUsers{
    margin-top: 30px;
}
.row{
    margin: 5px;
    overflow: hidden;
}
.labelwidth{
    width: 100px;
    float: left;
}
.row input{
height: 20px;
}
.wide form .buttons input, #user-form .buttons input{
    margin-left: 200px;
    margin-top: 5px;
}
.buttons input:hover{
    width: 100px;
    background-color: royalblue;
}
.manageUsers input{
    width: 100px;
    margin-left: 50px;
    color: #fff;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid gainsboro;
    outline: none;
}

.manageUsers input:hover{
    background: #1e90dd;
}

input[name="noban"], input[name="admin"]{
    background-color: mediumseagreen;
}
input[name="noban"]:hover, input[name="admin"]:hover{
    background-color: limegreen;
}
input[name="ban"], input[name="noadmin"]{
    background-color: tomato;
}
input[name="ban"]:hover, input[name="noadmin"]:hover{
    background-color: red;
}
ul.operations {
    list-style-type: none;
}
.operations li{
    float: left;
    margin: 5px;
}
.operations li a{
    color: dodgerblue;
    font-size: 15px;
    font:bold;
    margin-left:15px;
    text-decoration: none;
    font-variant: small-caps ;

}

.operations li a:hover {
    color:deepskyblue;
    text-decoration: underline;
}


.portlet{
    text-align: justify;
    width: 500px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.portlet-title{
    text-align: center;
    font-size: 20px;
}
.portlet-content{
    text-align: center;
}
p.note{
    margin: 20px;
}
.errorSummary{

    color: crimson;
    margin-left: 20px;
}
.errorSummary li{
    list-style-type: none;
}
.changePass{
    text-align: center;
    font-variant: small-caps ;
    font-size: 20px;
}
.changePass input{
    margin: 5px;
}
.changePass input[type="text"]{
height: 20px;
}

/*
.flash-success{
    border: 1px solid gray;
    background-color: #c0f4d8;
    border-radius: 5px;
}*/
