
/*the loading screen part*/

#andriod_phone{
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: absolute;
    z-index: 2;
    top: 5%;
    margin-left: 37%;
    margin-right: 37%;
    width: 370px;
    height: 700px;
    border-radius: 65px;
    text-align: center;
    background-image: url("../images/android/phone.png");
}
#andriod_phone_screen{
    padding-top: 50px;
    height: 416px;
    width: 310px;
    margin-top: 125px;
    margin-left: 35px;
    z-index: 3;
    background: url("../images/android/android.png");
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
#bg_layer {
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 220%;
    background: #000;
    opacity: 1;
}
#andriod_phone_screen_slider{
    margin-top: 330px;
    width: 310px;
    height: 70px;
    background-color: #ddd;
    opacity: 0.5;
    z-index: 3;
    background-image: url("../images/android/lock.png");
    background-position: right;
    background-repeat: no-repeat;
}
#unlock:hover{
    background-image: url("../images/android/arrow-light.png");
    cursor: pointer;
}
#unlock{
    background-image: url("../images/android/arrow.png");
}
#unlock{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
}
#andriod_phone em {
    display: none;
}
#andriod_phone:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    background: #5d88f4;
    color: #FFF;
    padding: 3px 5px;
    bottom: 60px;
    left: -60px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    height: 40px;
}
#andriod_phone:hover em i {
    position: absolute;
    bottom: 42px;
    right: 0px;
    border-bottom: 17px solid #5d88f4;
    border-left: 17px solid transparent;
    display: block;
}
    /*the loading screen part*/

.android_headers{
    margin-left: 10px;
    font-size: 25px;
    margin-top:10px;
    margin-bottom: 10px;
}
.android_description p{
    padding: 10px;
    text-align: justify;
    line-height: 20px;
    border-bottom: 1px solid gainsboro;
}
.android_description ul{
    width: 400px;
    text-align: justify;
}

.android_description li{
    list-style-type: none;
    padding-left: 10px;
    margin-top: 5px;
}
.android_description a{
    text-decoration: none;
    color: cornflowerblue;
}
.android_description a:hover{
    text-decoration: underline;
}
.android_results{
    margin-top: 10px;
    padding: 10px;
    text-align: justify;
    line-height: 20px;
}
.android_apps{
    overflow: hidden;
    width: 100%;
}
.android_left {
    width: 45%;
    float: left;
    margin-top: 10px;
    padding: 10px;
    text-align: justify;
    line-height: 20px;
}
.android_right {
    width: 45%;
    float: right;
    margin-top: 10px;
    padding: 10px;
    text-align: justify;
    line-height: 20px;
}