#contact-info{
	padding-left: 70px;
	padding-top: 30px;
	width: 400px;
	line-height: 2;
	float: left;	
	height:700px;
}
#contact-form {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	width :465px;
	height:700px;
	padding-top:30px;
}
#notice {
	font-size:12px;
}
.capcha{
    display: none;
}
#mail_send{
    background: dodgerblue;
    color: #fff;
    padding: 5px;
    text-align: center;
    width: auto;
    cursor: pointer;
    border: 1px solid gray;
    outline: none;

}
#mail_send:hover{
    background: dodgerblue;
    padding: 5px;
    text-align: center;
    width: auto;
    cursor: pointer;
    border: 1px solid gray;
    box-shadow:1px 1px 1px 1px #888888;
}
#mail_send:active{
background: linear-gradient(to top, royalblue, #5d88f4);
}
#message{
    resize: none;
    border-radius: 5px;
    border-color: darkgray;
    margin-top: 5px;

}
#contact-info a{
    text-decoration: none;
    color: cornflowerblue;
}
#contact-info a:hover{
    text-decoration: underline;
}