.content-course{
	width:960px;
	margin:0;
}
.webdev-img{
	width:480px;
	float:left;
	margin-left:10px;
			
}

.webdev-img img{
	width:480px;
}
.test-list, .online-list{
	width:250px;
	float:left;
	margin-left:50px;
	padding:20px;
	padding-bottom:20px;
	
}
.test-list li, .online-list li{
	padding:5px;
	list-style:none;
    list-style-image:none;
    list-style-position:inside;
    list-style-type:none;
}
.test-list button{
	margin-top:35px;
	width:300px;
	height:70px;
	border:2px solid #a1a1a1;
	background:#dddddd;
	border-radius:25px;
	font-size:18px;
}
.test-list button:hover{
	background:#eddddd;
}
.test-list li:hover, .online-list li:hover{
	color:#eddddd;
	cursor:pointer;
}
.description{
	padding:20px;

}
.preview-test, .test{
	width:900px;
	margin:0 auto;
	margin-top:20px;
	height:390px;
	box-shadow:5px 5px 10px #888888;
	margin-top:20xp;
	background-color:white;
}
.peoplelist{
	display:none;
	width:320px;
	float:left;
	margin-left:20px;
	padding:20px;
	
}
.answers li {
list-style: upper-alpha;
}

label {
margin-left: 0.5em;
cursor: pointer;
}

#results , #next1, #next2{
background: #dddada;
color: 000000;
padding: 3px;
text-align: center;
width: 200px;
cursor: pointer;
border: 1px solid gray;
}
#second-question, #third-question, .test{
	display: none;
}

#results:hover, #next1:hover, #next2:hover {
background: #eddddd;
padding: 3px;
text-align: center;
width: 200px;
cursor: pointer;
border: 1px solid gray;
}

.score{
	display: none;
	font-style: italic;
	margin:0 auto;
	width:400px;
	padding-top:150px;
} 
.question-div{
	 margin:0 auto;
	 width:350px;
	 padding-top:80px;
	 
}
.question-div input[type=radio], .question{
	margin:10px;
}

