﻿.content_events{
	width:820px;
	margin:0 auto;
	background-color:white;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow:5px 5px 10px #888888;
	height: auto;
	padding:40px;
	position: relative;
	overflow: hidden;
}
.event-list{
	float:left;
	height:auto;
	width:600px;
	border-right:dotted gray 1px;
	position: relative;
}
.event{
	margin-top:30px;
	height:auto;	
}
.event-date{
	float:right;
	margin-right:20px;
	height:20px;
}
.event-title{
	margin:0 auto;
	width:350px;
	font-size:18px;
	
}
.event-text{

	width:580px;
	font-size:14px;	
	
}
.event img{
	width:100px;
	height:100px;
	float:left;
	margin-right:20px;
}

.button-event, #vote-button, #more{
	background: #dddada;
	color: 000000;
	padding: 3px;
	text-align: center;
	
	cursor: pointer;
	border: 1px solid gray;
	outline: none;
	box-shadow:1px 1px 1px #888888;
}
.button-event{
	width: 200px;
}
.button-event:hover{
	width: 200px;
}
.button-event:hover, #vote-button:hover, #more:hover{
	background: #eddddd;
	padding: 3px;
	text-align: center;
	cursor: pointer;
	border: 1px solid gray;
}
.event-add{
	float:right;
	width:210px;
	height:800px;
	position: relative;
	margin-bottom:20px;
}
.event-vote{
	width:190px;
	margin-left:20px;
}
.event-advertisement{
	float:right;
	width:140px;
	height:150px;
	border: 2px solid gray;
	margin:20px;
	margin-right:0;
	padding:10px;
}
#vote-button{
	width:100px;
	margin-top:10px;
	margin-bottom:20px;
	margin-left:50px;
}
#more{
	float:right;
	margin-right:30px;
	margin-top:30px;
	margin-bottom:30px;
	position: relative;
	overflow: hidden;
}
.event-vote input{
	margin:5px;
}
.event-vote h4{
	margin-bottom:10px;
}
.points{
	float:right;
	margin-right:20px;
	cursor:pointer;
}
.up{
	display:none;
	float:left;
	margin-right:20px;
	cursor:pointer;
}

