.info-window{
    margin-top: 50px;
    border-top: 1px solid gainsboro;
    height: 700px;
}
.events-window{
    margin: 10px 10px 10px 20px;
    float: left;
    height: 680px;
    width: 500px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.events-window p, .courses-info p{

    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    text-transform:uppercase;
}
.courses-info{
    margin: 10px 20px 10px 20px;
    float: left;
    height: 680px;
    width: 380px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.insert-event, .insert-course{
    border: 1px solid gainsboro;
    border-radius: 5px;
    min-height: 140px;
    max-height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 2px;

}
.insert-event:hover, .insert-course:hover{
    border: 2px solid lightgray;
    padding-right: 0px;
}
.insert-event p, .insert-course p{
    font-size: 14px;
    text-transform:none;
    margin: 0px;
    text-align:left;
    word-break: break-all;
}
.insert-course{
    margin-left: 10px;
    margin-bottom: 10px;
}
p.insert-event-text, p.insert-course-text{
    margin-left: 110px;
    margin-right: 10px;
    text-align: justify;
}
.insert-event-image {
    height: 100px;
    width: 102px;
    padding-right: 2px;
    float: left;
    border-right: 1px solid gainsboro;
}
.insert-course-image{
    height: 120px;
    width: 122px;
    padding-right: 2px;
    margin: 10px;
    float: left;
    border-right: 1px solid gainsboro;
}
p.insert-event-date{
    text-align: center;
    margin-bottom: 10px;
    width: 100px;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    border-radius: 5px 0px 5px 0px;
}
p.insert-event-title, p.insert-course-title{
    text-transform:uppercase;
    margin-left: 110px;
    text-align: left;
    margin-bottom: 5px;
}
p.insert-course-title{
    margin-top: 10px;
    text-align: center;
}
p.insert-course-title:hover, p.insert-event-title:hover{
    text-shadow: #cCF 0 0 2px;
}
.insert-course-title a, .insert-event-title a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.insert-course-text a, .insert-event-text a{
    text-decoration: none;
    color: cornflowerblue;
}
.insert-course-text a:hover, .insert-event-text a:hover{
    text-decoration: underline;
}