


#lib_search {
    padding-top: 10px;
    padding-bottom: 10px;
}







#lib_list {
    padding-left: 70px;
    padding-top: 30px;
    padding-right: 70px;
    border-top: 2px solid #000000;
}

#lib_list ul {

    border: 1px solid #d3d3d3;
    margin: 10px;
    padding: 10px;
}

#lib_list ul li {
    padding-bottom: 10px;
    list-style-position: inside;
    list-style: none;
    text-indent: 30px;
}


#lib_list ul button {
    padding: 5px;
    margin-left: 10px;
}
.photo_book {
    height: 150px;
    width: 120px;
    float:left;
    padding-right: 15px;

}

.name_book {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 35px;
}

.book_taken_info {
    font-size: 17px;
    color: red;
    padding-left: 10px;
}
.info_book {
    padding-top: 5px;
}