/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 груд 2013, 18:16:42
    Author     : Lankmiler Pavel
*/

.inputs{
    border: 2px solid #dadada;
    border-radius: 7px;
  
}
#Form-login{
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    
}
#registration-more{
    margin-top: 10px;
    margin-left: 50px;
}