#search {
	margin-left: 70px;
	margin-top : 30px;
	margin-bottom:30px;
}
.news{
	margin-top: 20px;
	width: 787px;
	text-align: left;
	position: relative;
	padding-top:20px;
	padding-left:10px;
	word-wrap:break-word;
	padding: 20px;
        border: 1px solid #f0f0f0;
        border-bottom: 2px solid #ccc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
	background-color:33CCFF ;
	opacity:1.0;
        overflow: hidden;
}
.zagolovok{
	margin-left:0px;
	margin-top:0px;
}
.news-img {
	margin-top : 20px;
	float: left;
	margin: 7px 7px 7px 0;
}
.button-slideUp{
	margin-top:0px;
	margin-right:0px;
	position: absolute;
	bottom:0;
	right: 300px;
	background: #dddada;
	color: 000000;
	padding: 3px;
	text-align: center;
	width: 200px;
	cursor: pointer;
	border: 1px solid gray;
	margin-bottom:10px;
}
.button-slideUp :hover{
	background: #eddddd;
	padding: 3px;
	text-align: center;
	width: 200px;
	cursor: pointer;
	border: 1px solid gray;
}
.news-hidden{
	border: 1px solid black;
	margin-top: 20px;
	width: 787px;
	text-align: left;
	position: relative;
	padding-top:10px;
	padding-left:10px;
	word-wrap:break-word;
	display:none;
}
#empty-search{
	text-align:center;
	font-size:21px;
	margin-bottom:50px;
	margin-top:70px;
}
#back{
	margin-top:30px;
	text-align:center;
}
.news-preview{
	margin-bottom:20px;
}
.info{
	border:1px solid black;
	width: 787px;
	text-align: left;
	padding-top:10px;
	padding-left:10px;
	word-wrap:break-word;
	margin-top: 20px;
	margin-left: 70px;
	margin-bottom:60px;
	position: relative;
}
#title{
	margin-left:100px;
}
#date{
	right: 300px;
	margin-top:0px;
	margin-right:0px;
	position: absolute;
	top:0;
	right: 0;
	text-align: center;
	width: 200px;
	border: 1px solid gray;
}
.CheckBoxClass {
    display: none;
}
.CheckBoxLabelClass{
    background:url("../images/news/UnCheck.png") no-repeat;
    padding-left: 30px;
    padding-top: 3px;
    margin: 5px;
    height: 28px;
    width: 150px;
    display: block-inline;
}
.CheckBoxLabelClass:hover{
    text-decoration: underline;
}
.LabelSelected{
    background: url("../images/news/Check.png") no-repeat;
}
#scriptBox {
	border: 2px solid #dadada;
        border-radius: 7px;
}
.attr {
        margin-top:10px;
	background-color: #F5F5DC;
	width: 700px;
	padding-left:10px;
	font-family: Gentium; 
	font-style: italic;
        border-radius: 4px 4px 4px 4px;
}
.preview {
	margin-top:5px;
        
}
.attr a:link,a:visited{
        color:#0000FF
}
.zagolovok {
       font-family: Gentium; 
       font-style: italic;
       font-size:20px; 
       margin-left: 15px;
}
.img-convert{
     width:200px; 
     height:200px;
     margin-top: 10px;
     border-radius:4px 4px 4px 4px;
     float:left;
}
#text-preview {
     word-break: break-all;
     margin-top: 10px;
     margin-left: 10px;
}
.button-more {
 margin-left: 20px;
 font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #123d54;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#afd9fa 0%,
		#588fad);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#afd9fa),
		to(#588fad));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #003366;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}
.button-more:hover{
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -o-transform: rotate(-5deg);
}
#FullNews-wrapper{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom:60px;
    word-wrap:break-word;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:33CCFF ;
    margin-right: 20px;
    overflow:hidden;
    zoom:1;
}
#FullNews-title{
    margin-left:30px;
    font-size: 24px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: #123d54;
/*    border: 1px solid black;*/
}
#FullNews-text{
    /* border: 1px solid black;*/
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 25px;
     margin-top: 80px;
     padding-left: 15px;
     margin-bottom: 30px;
     margin-left:20px;
     padding-bottom:20px;
}


.img-convert img {
    padding: 5px;
}

.textarea {
padding:5px 10px;
border:1px solid #ddd;
color:#333;
position:relative;
z-index:2;
height:150px;
width:350px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
}
.to-comment{
    margin-left:34px;
   
}
.button-comment{
 margin-left: 120px;
 font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #123d54;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#afd9fa 0%,
		#588fad);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#afd9fa),
		to(#588fad));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #003366;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
    
}
#Comments {
    margin-left:30px;
    font-size: 24px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
    color: #123d54;
}

		