#regist_content {
    margin-left: 20px;
    margin-top: 20px;
}
#regist_content p {
    font-size: 16px;
    padding-top: 5px;

}
#regist_content input {
    width: 400px;
    margin-bottom: 10px ;
    padding: 5px;
}

#regist_content button {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
}
#regist_content button:hover {
    cursor: pointer;
}
#b_regist_add {
    margin-left: 55px;
}

#b_regist_rm {
    margin-left: 125px;
}