* {
    margin: 0;
	padding: 0;

	/*border: 1px solid black;
    
    
	Временно закомментировал - сбиваются шрифты 
	русский одним шрифтом , а английский и 
	цифры другим
	
    font-family: 'Open Sans Condensed', sans-serif, 'arial';*/
	font-family: tahoma;
}

#wrap {
    width: 960px;
    background-color:#fafbef;
    margin: 0 auto;
    border: 1px solid gainsboro;
    box-shadow: 0 0 10px grey;
    border-radius: 5px;
}

#header {
    width: 100%;
    overflow: hidden;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-size: contain;
    background-image: url("../images/template/new_year_2014.png");
    background-repeat: no-repeat;
}
#header_main_logo {
    float: left;
}
#header ul {
    float: left;
}
.main_menu {
    margin-left: -1px;
    list-style: none;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    max-width: 565px;
}
#header .main_menu {
    padding-top: 110px;
    padding-bottom: 0px;
    padding-left: 20px;
}
.main_menu li {
    line-height: 10px;
    display: inline-block;
    padding: 5px;
    border-left: 1px solid gainsboro;
    text-align: center;
    text-transform: uppercase;
}
.main_menu li a {
    text-decoration: none;

    font:bold;
}
#header .main_menu li a {
    color: #ffffff;
    font-size: 20px;
}
#header .main_menu li a:hover {
    color:mediumturquoise;
}

#header_login {
    float: right;
    width: 200px;
    border: 1px solid gainsboro;
    padding: 20px;
    margin-right: 10px;
    border-radius: 5px;
}
#header_login input {
    width: 80%;
    padding: 2px;
    margin: 5px;
}
#header_login a {
    color: #ffffff;
    font-size: 15px;
    font:bold;
    margin-left:15px;
    text-decoration: none;
    font-variant: small-caps ;
}
#header_login a:hover {
    color:mediumturquoise;
    text-decoration: underline;
}

#header_login button {
    padding: 3px;
    margin-left: 5px;
    width: 70px;
}
#header_login button:hover {
    cursor: pointer;
}
#header_main_logo {
    height: 120px;
    width: 120px;
}

#footer{
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: dimgray;
    padding-bottom: 10px;
    font-size: 12px;
    color: #ffffff;
}
#footer a {
    color: #ffffff;
}
#footer a:hover {
    text-decoration: none;
    color:mediumturquoise;
}


/*---------------кнопка наверх{----------------*/

#back-top {
    position: fixed;
    bottom: 30px;
    margin-left: 1000px;
}
#back-top a {
    width: 60px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}
#back-top span {
    width: 60px;
    height: 40px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url(../images/arrow-up-white.png) no-repeat center center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}
/*---------------}кнопка наверх----------------*/

/*--------------social icons{------------------*/
#Vkontakte{
    width: 22px;
    height: 22px;
}
#Vkontakte{
    background-image: url("../images/social/v.jpg");
}
#Vkontakte: hover{
    background-image: url("../images/social/v-light.jpg");
}
#Vkontakte, #Facebook, #GooglePlus, #Twitter{
    border-radius: 7px;
}
#Vkontakte:hover, #Facebook:hover, #GooglePlus:hover, #Twitter:hover{
    box-shadow: 0 0 10px #F5F5F5;
    padding: 0px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

/*--------------}social icons------------------*/

.footerText{
text-align: center;
}
.social{
    text-align: right;
    padding-right: 10px;
}




/*-------------------здесь вставка стилей для страницы настроек-----------------------*/

.buttons input{
    background: dodgerblue;
    color: #fff;
    padding: 5px;
    text-align: center;
    width: auto;
    cursor: pointer;
    border: 1px solid gray;
    outline: none;
}

.buttons input:hover{
    background: #1e90dd;
    text-align: center;
    width: auto;
    cursor: pointer;
    border: 1px solid gray;
}
.buttons input:active{
    background: linear-gradient(to top, royalblue, #5d88f4);
}

.align-settings{
    text-align: left;
    margin-left: 35%;
}

.smallcaps{
font-weight: normal;
    font-variant: titling-caps ;

}

.flash-success{
    border: 1px solid gray;
    background-color: #c0f4d8;
    border-radius: 5px;
}

/*-------------------конец стилей для страницы настроек-----------------------*/