.content_voting{
	width:820px;
	margin:0 auto;
	background-color:white;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow:5px 5px 10px #888888;
	height:500px;
	padding:40px;
}

.button-return{
	background: #dddada;
	color: black;
	padding: 3px;
	text-align: center;
	width: 200px;
	cursor: pointer;
	border: 1px solid gray;
	outline: none;
	box-shadow:1px 1px 1px #888888;
}
.button-return:hover{
	background: #eddddd;
	padding: 3px;
	text-align: center;
	width: 200px;
	cursor: pointer;
	border: 1px solid gray;
}
#chart_div{

	width: 800px;
	height: 400px;
	margin:0 auto;
}